/* Estilos generales */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    background: url('img/banner/pexels-matheus-bertelli-799443.jpg');
    z-index: -1;
}

a {
    color: #6f0185;
    text-decoration: none;
}

/* Estilos de la cabecera */
header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

header h1 {
  margin: 0;
  font-size: 20px;
  color: black;
  text-decoration: underline #d600fc;
}

nav {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 30px;
}

nav li {
  margin-left: 5px;
  padding: 8px;
  border-radius: 30px;
}

nav a {
  color: black;
  text-decoration: underline #d600fc;
  font-size: 15px;
  font-weight: 600;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
}

.show {
  display: block;
}

@media screen and (min-width: 768px) {
  header{
    display: flex;
  }
  nav {
    display: block;
  }

  nav ul{
    position: absolute;
    right: 0;
   margin: 5px  15px 0px 0px  ;
  }
  .menu-toggle {
    display: none;
  }

  header h1{
    font-size: 35px;
  }

  header a{
    font-size: 20px;
  }

}

/* Estilos del banner */

.banner {
  position: relative;
  height: 100vh;
}

.video-container {
  position: relative;
  height: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
  text-align: center;
  color: #fff;

  
}

.banner h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.banner p {
  font-size: 24px;
  max-width: 700px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.banner button {
  font-size: 20px;
  background-color: #0077be;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.banner button:hover {
  background-color: #005ea2;
}

.banner button a{
  color: white;
}

@media screen and (max-width: 768px) {
  .banner{
    height: 70vh;
  }

  .content-container{
    width: 80%;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 5px;
  }
  .banner h2 {
    font-size: 30px;
  }
  
  .banner p {
    font-size: 20px;
    max-width: 500px;
  }
  
  .banner button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .banner h2 {
    font-size: 24px;
  }
  
  .banner p {
    font-size: 16px;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .banner button {
    font-size: 14px;
    padding: 6px 12px;
  }
}


/* Estilos de la sección de autos destacados */

.destacados {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
    padding: 50px 20px;
    margin: 5%;
    color: white;
}

.destacados h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
}

.grid-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.grid-item a {
    font-size: 16px;
    background-color: #0077be;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.grid-item a:hover {
    background-color: #005ea2;
}


/*Seccion clientes*/
.review{
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    margin: 5%;

}
.review h1{
    text-align: center;
}
.review-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    height: 250px;
  }
  
  .review-header {
    display: flex;
    align-items: center;
  }
  
  .review-header img {
    width: 20% !important;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .review-body {
    margin: 10px 0;
  }
  
  .review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .rating {
    color: #ffc107;
  }
  
  
  /*Fin Clientes*/

  /*Contancto*/
  /* Estilos para el mapa */
/* Estilos para el mapa */
.contact-section{
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.map-wrapper {
    position: relative;
    height: 300px;
    margin-top: 50px;
    border: 2px solid #333;
    }
    
    .container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    width: 80%;
    margin: auto  ;
    }
    
    h2 {
    color: #fdf7f7;
    }
    
    .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Agrega aquí los estilos para el mapa interactivo */
    }
    
    .map iframe{
    width: 100%;
    height: 100%;
    }
    
    .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .overlay-text {
    color: #fff;
    top: 0;
    padding: 20px;
    }
    
    .overlay-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
    }
    
    .overlay-text p {
    font-size: 16px;
    }
    
    /* Estilos para las direcciones */
    .directions {
    margin-top: 50px;
    }
    
    .directions h3 {
    font-size: 24px;
    margin-bottom: 10px;
    }
    
    .directions p {
    font-size: 16px;
    margin-bottom: 20px;
    }
    
    .directions a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    }
    
    .directions a:hover {
    background-color: #555;
    }
    
    /* Estilos para la información de contacto */
    .contact-info {
    margin-top: 10px;
    display: flex;
    flex-direction: row     ;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0px;
    }
    
    .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .info-item .icon {
    font-size: 24px;
    margin-right: 20px;
    color: #333;
    }
    
    .info-item h3 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #333;
    }
    
    .btn-call {
        display: inline-block;
        padding: 10px 20px;
        background-color: #337ab7;
        color: #fff;
        text-decoration: none;
        border-radius: 30px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        transition: background-color 0.3s;
        margin-right: 15px;
      }
      
      .btn-call:hover {
        background-color: #2e6da4;
        color: #fff;
      }
      
.btn-wp {
    display: inline-block;
    background-color: #4DC247;
    color: #FFF;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
  }
  
  .btn-wp:hover {
    background-color: #3B954B;
  }
  

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
ol-md-6 {
      width: 100%;
      margin-bottom: 30px;
    
    }
    .map-wrapper {
      height: 200px;
    }
    .map-overlay {
      display: none;
    }
    .directions {
      margin-top: 30px;
    }

 
    .info-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .info-item a{
        align-items: center;
        margin: auto;
        margin-top: 15px;
    }
  }
  
  /* Estilos para tabletas */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .map-wrapper {
      height: 300px;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media only screen and (min-width: 992px) {
    .map-wrapper {
      height: 400px;
    }
  }
  
/*fin*/  